body {
overflow-y : hidden;
}


#page-1 > * {
  /*height : 100%;*/
}
/*
#back-maincontainer {
    display: table;
    width: 100%;
    height: 100%;
}
#back-maincontainer > *{
    display:table-row;
    height:0px; 
}
*/

li.customer-row {  
  list-style-type: none;  
}

li.customer-row span{
  padding : 0.2em;
  border-radius : 0.2em;  
}

li.customer-row span.selected-customer{
  background-color : #99f;
}

li.customer-row span:hover {  
  background-color : #99f;
  cursor : pointer;
}



header {
  height : 5%;
}

.belowheader {
  height : 95%;
}

.third-height-1 {   
  height : 30%;
  top : 0px;
}
.third-height-2 {  
  height : 30%;
  /*top : 33%;*/
}
.third-height-3 {  
  height : 30%;
  /*top : 66%;*/
}


aside {
  position : absolute;
  display: inline-block;
  float:left;
  padding: 2em 0.5em;
  height: 100%;
  /*min-height: 600px;*/
}


/*#cartlink {
  position : absolute;
  width : 50px;
  height : 50px;
  cursor: pointer;
  z-index : 9003;
}

#cart{ 
  margin-left : 0px;
  background: url("http://static.freepik.com/free-photo/shopping-cart-2_318-9228.jpg")
  no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);  
}*/

footer {
  position : absolute;
  display: inline-block;
  bottom : 0px;  
}

#maincontainer, #maincontainer-back {
  position : absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
/*  min-height : 500px;*/
  
  /*right: 0px;*/
}

#maincontainer-back {
  /*height : 500px;*/
}

.subpage{
    height: 100%;
}

.navbuttons button {
margin : 0.5em;
}

.green {
	background-color: #79b654;
}

.lightgreen {
	background-color: #99d674;
}

header {

}