<!doctype html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">  
  <link rel="stylesheet" href="/static/index.css">
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/js.cookie.js"></script>      
  <script src="/static/back.js"></script>      
</head>
<body>

  <header class="green">    
    <div class="btn-group navbuttons btn-group-justified" role="group">
      <div class="btn-group" role="group">

        <a href="/" id="subpage-to-front-page"><button type="button" class="btn btn-default"><< Etusivulle</button></a>        
        <a href="#" id="subpage-back" style="display:none"><button type="button" class="btn btn-default">< Edellinen</button></a>
        
      </div>
      
      <div class="btn-group" role="group">
        
      </div>
    </div>
  </header>

  <div class="belowheader" id="maincontainer-back">    
      <!--
      <aside class="col-xs-3 col-sm-2 col-md-2 lightgreen">

      </aside>-->

      <div class="subpage" id="page-1">      
      
      <span>Ostoksesi :</span>
      
      <table class="table table-striped">
      <tbody id="page-1-product-list">
      
      <tr class="bold spare-me-please"><td>Summa : </td><td><span id="page-1-product-sum"></span> €</td></tr>
      </tbody>
      </table>
      
      <!--
      <ul id="page-1-product-list">      
      </ul>      
      <p>Summa : <span id="page-1-product-sum"></span> €</p>
      -->
      <span>Paljonko maksoit?</span>
      <input id="page-1-money-input" type="text"></input>      
      
      <div id="page-1-money-submit" sourcepage="1" targetpage="2" class="subpage-submit btn btn-default">
        Jatka >>
      </div>
      
      <div id="page-1-payfrombuffer" class="btn btn-default">
        Maksa bufferista >>
      </div>
      <script>
      $("#page-1-payfrombuffer").click(function(){      
        $("#page-1-money-input").val("0");
        $("#page-1-money-submit").click();      
      });
      </script>
      
      
      
      </div>
      
      <div class="subpage" id="page-2" style="display:none">

        <span>Kuka olet?</span>
       
       <table class="table table-striped table-hover">
       <tbody id="page-2-customer-list">
       </tbody>
       </table>
       <!--
       <ul id="page-2-customer-list">
       </ul>
        -->
        <p>
        <span>Valitsemasi käyttäjä : </span>
        <span id="selected-customer-span"></span>         
        </p>
        
        <div sourcepage="2" targetpage="3" class="subpage-submit btn btn-default">
          Jatka >>
        </div>
        
      </div>
      
      <div class="subpage" id="page-3" style="display:none">

        <h3>Yhteenveto</h3>
        <hr/>
      <span class="bold">Ostoksesi :</span>
      
      <table class="table table-striped">
        <tbody id="page-3-product-list">      
          <tr class="spare-me-please"><td>Summa : </td><td><span id="page-3-product-sum"></span> €</td></tr>
        </tbody>
      </table>
      
      <hr/>      
      
        <div class="summary-parent">
          
          <table class="table table-striped">
            <tbody>      
              <tr><td>Käteinen:                        </td><td><span id="page-3-input-cash"></span> €</td></tr>  
              <tr><td>Valittu käyttäjä:                </td><td><span id="page-3-customer-name"></span></td></tr>
              <tr><td>Rahaa bufferissa nyt:            </td><td><span id="page-3-customer-balance"></span> €</td></tr>
              <tr><td>Rahaa bufferissa oston jälkeen:  </td><td><span id="page-3-final-balance"></span> €</td></tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          
          <div sourcepage="3" targetpage="4" class="subpage-submit btn btn-default">
            OSTA
          </div>
        </div>
      
      </div>
      
      <div class="subpage" id="page-4" style="display:none">       
        <p id="page-4-success-confirmation"></p>
        <p id="page-4-success-overview-customer"></p>
        <p id="page-4-success-overview-balance"></p>
        <a href="/"><button type="button" class="btn btn-default"><< Etusivulle</button></a>
      </div>
    
  </div>
   
  <footer>
  </footer>

</body>
</html>
