aside {
  position : absolute;
  display: inline-block;
  float:left;
  padding: 2em 0.5em;
  height: 100%;
}

footer {
  position : absolute;
  display: inline-block;
  bottom : 0px;  
}

.navbuttons button {
margin : 0.5em;
}

.green {
	background-color: #79b654;
}

.lightgreen {
	background-color: #99d674;
}

header {

}