<!doctype html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">  
  <link rel="stylesheet" href="/static/index.css">
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/js.cookie.js"></script>      
  <script src="/static/back.js"></script>      
</head>
<body>

  <header class="green">    
    <div class="btn-group navbuttons btn-group-justified" role="group">
      <div class="btn-group" role="group">

        <a href="/" id="subpage-tofront"><button type="button" class="btn btn-default"><< Etusivulle</button></a>        
        <a href="#" id="subpage-back" style="display:none"><button type="button" class="btn btn-default">< Edellinen</button></a>
        
      </div>
      
      <div class="btn-group" role="group">
        
      </div>
    </div>
  </header>

  <div class="belowheader" id="maincontainer-back">
    <!--<div>-->

      <aside class="col-xs-3 col-sm-2 col-md-2 lightgreen">

      </aside>

      <div class="col-xs-9 subpage" id="page-1">      
      
      <span>Ostoksesi :</span>
      <ul id="page-1-product-list">
      
      </ul>
      
      <p>Summa : <span id="page-1-product-sum"></span> €</p>
      
      <span>Paljonko maksoit?</span>
      <input id="page-1-money-input" type="text"></input>      
      
      <div id="page-1-money-submit" sourcepage="1" targetpage="2" class="subpage-submit btn btn-default">
        Jatka >>
      </div>
       <!--  
        <div sourcepage="1" targetpage="3" class="subpage-submit btn btn-default col-xs-12 third-height-2">
          Ei tasaraha
        </div>
        
        <div sourcepage="1" targetpage="4" class="subpage-submit btn btn-default col-xs-12 third-height-3">
          Käytä bufferia
        </div>
       -->
      </div>
      
      <div class="col-xs-9" id="page-2" style="display:none">

        <span>Kuka olet?</span>
        <ul id="page-2-customer-list">
<!--         
         <li class="customer-row" data-customer-id=""><span>Aapo</span></li>
          <li class="customer-row" data-customer-id=""><span>Petteri</span></li>
          <li class="customer-row" data-customer-id=""><span>Jaska</span></li>
          <li class="customer-row" data-customer-id=""><span>Liisa</span></li>
          <li class="customer-row" data-customer-id=""><span>Anna-Maija</span></li>
          <li class="customer-row" data-customer-id=""><span>Simo</span></li>
          <li class="customer-row" data-customer-id=""><span>Hilla</span></li>
          <li class="customer-row" data-customer-id=""><span>Dmitri</span></li>
-->    
       </ul>
        
        <p>
        <span>Valitsemasi käyttäjä : </span>
        <span id="selected-customer"></span>         
        </p>
        
        <div sourcepage="2" targetpage="3" class="subpage-submit btn btn-default">
          Jatka >>
        </div>
        
      </div>
      
      <div class="col-xs-9" id="page-3" style="display:none">

        <h3>Yhteenveto</h3>
        
      <span>Ostoksesi :</span>
      <ul id="page-3-product-list">      
      </ul>
        <div class="summary-parent">
          <p>Ostosten summa:                  <span id="page-3-product-sum"></span> €</p>
          <p>Käteinen:                        <span id="page-3-input-cash"></span> €</p>        
          <p>Valittu käyttäjä:                <span id="page-3-customer-name"></span></p>
          <p>Rahaa bufferissa nyt:            <span id="page-3-customer-balance"></span> €</p>
          <p>Rahaa bufferissa oston jälkeen:  <span id="page-3-final-balance"></span> €</p>
          <p>&nbsp;</p>
          <div sourcepage="3" targetpage="4" class="subpage-submit btn btn-default">
            OSTA
          </div>
        </div>
      
      </div>
      
      <div class="col-xs-9" id="page-4" style="display:none">
        <p>KIITOS</p>
        <a href="/"><button type="button" class="btn btn-default"><< Etusivulle</button></a>
        <!--<p>palaa takaisin etusivulle</p>-->
      </div>
    
    <!--</div>-->
  </div>
   
  <footer>
  </footer>

</body>
</html>
