<!doctype html>
<html>

<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">  
  <link rel="stylesheet" href="/static/index.css">  
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
  <script src="/static/index.js"></script>  
  <script src="/static/basket.js"></script>  
    
</head>
<body>

  <header class="green">    
    <div class="row navbuttons">      
      <div class="col-xs-4">
        <button type="button" class="btn btn-default">Lisää bufferiin rahaa</button>
      </div>
      <div class="col-xs-4">
        <div id="basket-dropdown" class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Ostoskori : <span id="basket-prods">0</span> tuotetta, <span id="basket-sum">0</span> €
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu basket-list" role="menu">
            <!-- <li><a tabindex="-1" href="#"></a></li> -->
          </ul>
        </div>
      </div>
      <!-- 
      <div class="btn-group" role="group" id="cart">0<span id="cartlink"></span></div>
      -->
      <div class="col-xs-4">
        <a href="back"><button type="button" class="btn btn-default">Osta tuotteet >></button></a>
      </div>
    </div>
  </header>
  
  <div class="belowheader" id="maincontainer">
  
    <aside class="col-xs-3 col-sm-2 col-md-2 lightgreen">  
      <div class="btn-group-vertical" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">kategoria a</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">kategoria b</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">kategoria c</button>
        </div>
      </div>
    </aside>   
    
    <div id="productbox" class="col-xs-9">
      
      <div data-product-id="1" data-product-price="0.6" class="product col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://tuontitukku.fi/image_view.php?name=6/laajakuva_kismet.jpg" alt="...">
          <div class="caption">
              <span class="col-sm-6">
                Kismet
              </span>
              <span class="float-right col-sm-6">
                0,6€
              </span>            
            <p><a href="#" class="add-product-to-basket btn btn-primary" role="button">Lisää</a></p>
          </div>
        </div>
      </div>

    </div>    
  </div>
   
  <footer>
  </footer>

</body>
</html>
