{% if product_list %}
{% for product in product_list %}
<div data-product-id={{product.id}} data-product-name="{{product.name}}" data-product-price={{product.price}} data-product-categories="[{% for category in product.categories.all %}{{ category.id }},{% endfor %}]"
    class="product col-xs-4 col-sm-3 col-md-2">
  <div class="thumbnail">   
    <div class="prod-img-wrapper">  
      <img class="productimage" src="{{MEDIA_URL}}{{product.image}}"/>
        </div>
        <div class="productInsideItem">
           {{product.name}}
        </div>
        <div class="col-sm-6 productInsideItem">
           {{product.price}} e
        </div>
        <div class="col-sm-6 productInsideItem">
            <a href="#" class="add-product-to-basket btn btn-success" role="button">Lis&auml;&auml;</a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
